<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998504400494-qp64qvtj130j7h10enqeth7fvndo04ma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998504400494-qp64qvtj130j7h10enqeth7fvndo04ma</string>
	<key>API_KEY</key>
	<string>AIzaSyAfpxlva6vrElrKcbR59dHs3mBoBw-WnVo</string>
	<key>GCM_SENDER_ID</key>
	<string>998504400494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTesting</string>
	<key>PROJECT_ID</key>
	<string>fir-testing-ce1e0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-testing-ce1e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998504400494:ios:c92ba03a204be5cb5dc87f</string>
</dict>
</plist>